.navbarWidth {
  width: 5rem;
}

#mainNavbar .navbar-brand {
  font-size: 30px;
  margin-left: 25px;
  font-weight: bold;
}
#mainNavbar .navbar-brand span {
  color: #df8338;
}

#mainNavbar .nav-link {
  color: black;
  font-size: 1.2rem;
  margin-left: 40px;
  transition: all 0.4s ease-in-out;
}
#mainNavbar .nav-link:hover {
  color: #df8338;
  transform: scale(1, 1.2);
}

#intro {
  margin-top: 60px;
}
#des {
  padding-top: 100px;
}

#intro #des h1 {
  color: #df8338;
  font-size: 3.7rem;
}
#intro #des h3 {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}
#intro #des .btn {
  border: 1.7px solid #df8338;
  color: #df8338;
  border-radius: 25px;
  margin-top: 17px;
  margin-left: 20px;
}

#intro #des .btn:hover {
  background-color: #df8338;
  color: white;
}
#intro #des p {
  margin-top: 22px;
  font-size: 1rem;
  margin-left: 20px;
}
#offer img {
  width: 350px;
  height: 300px;
  border-radius: 25px;
  gap: 0;
  margin-top: 40px;
}
#offer h2 {
  text-indent: 500px;
}
#offer {
  margin-top: 100px;
}

#gallery {
  margin-top: 100px;
}
#gallery h2 {
  text-indent: 500px;
}
#gallery img {
  margin-top: 20px;
}
#order h2 {
  text-indent: 500px;
  font-size: 50px;
}

#order input {
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #df8338;
}
#order select {
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #df8338;
}

.buy {
  background-color: #ebd2be;
  border: 1px solid #ebd2be;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 50px;
  transition: all 0.2s ease-in-out;
}

.buy:hover {
  background-color: #df8338;
  color: white;
  border: 1px solid #df8338;
}

.checkout {
  background-color: #ebd2be;
  border: 1px solid #ebd2be;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 700px;
  transition: all 0.2s ease-in-out;
}

.checkout:hover {
  background-color: #df8338;
  color: white;
  border: 1px solid #df8338;
}
